/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
/* BOX MENU */
.wrapper__box{
    transform: translate(0px, -360px);
}
.box__menu{
    position: absolute;
}
.box img{
    width: 40%;
    z-index: 10;
}
.box__menu--button{
    position: absolute;
    transform: translate(45px, -250px);
    z-index: 100;
}
.btn--dress{
    background: none;
    display: block;
    width: 60px;
    height: 60px;
}
.btn--dress:hover{
    cursor: pointer;
    opacity: 0.7;
}
.btn{
    width: 50px;
}
.dress{
    width: 25%;
    transform: translate(0px,-47px);
}
/* ROOM */
.room{
    max-height: 700px;
}
.room--img{
    height: 700px;
    width: 100%;
    z-index: 0;
}
.doll{
    height: 300px;
    transform: translate(410px, -440px);
}
.doll__dress{
 
}
.dress1{
    transform: translate(328px,-556px);
    width: 80px;
}
.dress2{
    transform: translate(329px,-539px);
}
.dress3{
    transform: translate(333px,-498px);
    /* height: 292px; */
    width: 75px;
}